body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background-image: url("https://www.publicdomainpictures.net/pictures/170000/velka/dollars-background-1462001697eaO.jpg");
  background-size: 100%;
  opacity: 1;
  background-repeat: no-repeat;
}

.wrapperTwo {
  max-width: 66%;
  padding-left: 15%;
  padding-top: 15%;
  /* margin: 50px auto; */
}

h1 {
  /* font-weight: 200; */
  font-size: 1.5em;
  margin: 0 0 0.1em 0;
}

h2 {
  /* font-weight: 200; */
  font-size: .5em;
  margin: 0 0 10px;
  color: #000;
}

a {
  /* margin-top: 50px; */
  display: inline;
  color: #3e95cd;
  font-style: italic;
  font-size: 12px
}

canvas {
  margin-bottom: 20px;
  height: 45%;
}
