body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Coronaviruses_004_lores.jpg/800px-Coronaviruses_004_lores.jpg");
  /* background-color: #cccccc; */
  background-size: 100%;
  opacity: 1; */
}
img {

}
.wrapperOne {
  max-width: 800px;
  margin: 50px auto;

}

.wrapperTwo {
  max-width: 800px;
  margin: 50px auto;
}

.wrapperThree {
  max-width: 800px;
  margin: 50px auto;
}

.wrapperFour {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #999;
}

a {
  /* margin-top: 50px; */
  display: block;
  color: #3e95cd;
  font-style: italic;
  font-size: 12px
}

canvas {
  margin-bottom: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Coronaviruses_004_lores.jpg/800px-Coronaviruses_004_lores.jpg");
  /* background-color: #cccccc; */
  background-size: 100%;
  opacity: 1;
}
